repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: .+\.wy
    -   id: trailing-whitespace
        exclude: .+\.wy
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.14"
    hooks:
    -   id: ruff
        args: [--fix]
    -   id: ruff-format
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    -   id: mypy
